<!--Testimonials-->
<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

    <div class="row clearfix">
  
      <div class="section-heading">
        <!-- <h3>Blogs</h3> -->
        <!-- <h2 class="section-title">What our customers are saying</h2> -->
      </div>
  
      <!--User Testimonial-->
      <a href="Blogs/Article_1" >
      <blockquote class="col-3 testimonial classic">
        <img src="../assets/images/user-images/plan.jpeg" alt="User" />
        <q>Do you need financial planning?</q>
        <footer>Shweta Shastri [Published on 1 Jan 2021]</footer>
      </blockquote>
      </a>
      <!-- End of Testimonial-->
  
      <!--User Testimonial-->
      <a href="Blogs/Article_2" >
      <blockquote class="col-3 testimonial classic">
        <img src="../assets/images/user-images/nfo.png" alt="User" />
        <q>Investing in NFO</q>
        <footer>Shweta Shastri [Published on 10 Feb 2021]</footer>
      </blockquote>
      </a>
      <!-- End of Testimonial-->
  
      <!--User Testimonial-->
      <a href="Blogs/Article_3" >
      <blockquote class="col-3 testimonial classic">
        <img src="../assets/images/user-images/goal.jpeg" alt="User" />
        <q>Are you investing withou financial goal?</q>
        <footer>Shweta Shastri [Published on 20 Mar 2021]</footer>
      </blockquote>
      </a>
      <!-- End of Testimonial-->
    </div>
  
  </aside>
  <!--End of Testimonials-->