<!--Introduction-->
<section id="about" class="introduction scrollto">
  <div class="row clearfix">
    <div class="col-3">
      <div class="section-heading">
        <h3>SUCCESS</h3>
        <h2 class="section-title">How We Help You To Protect & Grow Your Wealth</h2>
        <p class="section-subtitle">
          You can’t go back and change the beginning, but you can start from where you are and change the ending. At present moment we all are busy running a marathon to win the race, but the only difference is that we don’t have any clue as to where exactly is the finish line. Just like a clear consciousness about where the finish line is helps you to place your energy in the right direction the same clarity with your life goals helps you to create a blueprint as to how exactly to get there. Having clarity about life goals and a customized financial plan in place provides more confidence in winning the race called “Life”
        </p>
      </div>
    </div>

    <div class="col-2-3">
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
        <!-- <div class="icon">
          <i class="fa fa-piggy-bank"></i>
        </div> -->
        <div class="icon-block-description">
          <h4>FINANCIAL PLANNING</h4>
          <p>
            Financial planning can sound daunting or complex but in reality with a bit of help, you can master it in no time. We request you to connect with us & make your journey towards financial freedom troublefree. 
          </p>
        </div>
      </div>

      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
        <!-- <div class="icon">
          <i class="fas fa-hand-holding-usd"></i>
                </div> -->
        <div class="icon-block-description">
          <h4>WEALTH ADVISORY</h4>
          <p>
            Wealth management is an integrated process for helping clients manage their wealth. It involves huge & wide range of services and the services depend upon each investor but the condition is that services should include investment management, financial planning, retirement, Estate planning, tax planning, debt management and cash flow.
          </p>
        </div>
      </div>

      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!-- <div class="icon">
<i class="fas fa-chart-line"></i>
                </div> -->
        <div class="icon-block-description">
          <h4>PORTFOLIO MANAGEMENT SERVICE</h4>
          <p>
            We will help you to make smart and better informed decisions about your investments by keeping you on top of your performance.
          </p>
        </div>
      </div>

      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!-- <div class="icon">

          <i class="fas fa-camera"></i>

        </div> -->
        <div class="icon-block-description">
          <h4>INSURANCE PLANNING</h4>
          <p>
            Insurance is an important risk management tool that can protect you and your family from financial hardship caused by unplanned events. we work with you to identify your risks and implement a cost-effective risk management program that has been developed with your specific circumstances and requirements in mind.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section section-dark text-center">
  <div class="container">
    <h2 class="title">About Me</h2>
    <div class="row">
      <div class="col-md-1">
        <div class="card card-profile card-plain">
          <div class="card-avatar">
            <a href="#avatar"><img style=" vertical-align: middle;
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;" src="../assets/images/aboutme.jpeg" alt="..."></a>
          </div>
          <div class="card-block">
            <a href="#paper-kit">
              <div class="author">
                <h4 class="card-title">Shweta Shastri</h4>
                <h6 class="card-category">Certified Financial Planner, Co-Founder TradeFocus
                </h6>
              </div>
            </a>
            <p class="card-description text-center">
              Fundamental Analyst and Research Analyst helping clients to build and manage their Equity Portfolios to
              some extent. Actively participated in practically creating and implementing Future and Options strategies
              and conducting training for the same. In 2015 we thought to add a new segment and provide solutions to our
              clients through Financial Planning since then passionately guiding and helping clients in financial
              planning services.
            </p>
          </div>
          <div class="card-footer text-center">
            <p>Office Location: A-1104 Zinnea Near Hotel Viva Inn Chandani Chowk,Bavdhan-Pune 411021</p>
            <p>Phone: +91 8888893956,+91 9881001481</p>
            <p>Email: shwetashastri@hotmail.com</p>
          </div>
          <div class="card-footer text-center">

            <a target="_blank" title="Facebook" href="https://www.facebook.com/bhagyashree.upadhye">
              <i class="fa fa-facebook fa-1x"></i><span> Facebook </span>
            </a>
            <!-- <li>
                        <a target="_blank" title="Google+" href="http://google.com/+username">
                          <i class="fa fa-google-plus fa-1x"></i><span>Google+</span>
                        </a>
                      </li> -->
            <a target="_blank" title="Twitter" href="http://www.twitter.com/ShwetaShastri8">
              <i class="fa fa-twitter fa-1x"></i><span> Twitter </span>
            </a>
            <!-- <li>
                        <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
                          <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
                        </a>
                      </li> -->
            <a target="_blank" title="linkedin" href="https://www.linkedin.com/in/shweta-shastri-84099a65/">
              <i class="fa fa-linkedin fa-1x"></i><span> LinkedIn </span>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>