<!--Content Section-->
<div id="services" class="scrollto clearfix">
    <div class="row no-padding-bottom clearfix">
        <div class="col-1">
            <img src="../assets/images/user-images/nfo.png" style="width: 1200px;" alt="NFO" />
          </div>
      <!--Content Left Side-->
      <!-- <div class="col-3">
        <blockquote class="testimonial text-right bigtest">
          <q
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua</q
          >
          <footer>— John Doe, Happy Customer</footer>
        </blockquote>
      </div> -->
      <!--End Content Left Side-->
  
      <!--Content of the Right Side-->
      <div class="col-1">
        <div class="section-heading">
          <h3>INVESTING</h3>
          <h2 class="section-title">Investing in NFO</h2>
          <!-- <p class="section-subtitle">
            NETWORTH is a very common term used when it comes to Personal Finance.
            During my college days I used to think that those who earn higher income are the only ones
            who can live a rich and luxurious life. But in few years after I got into this profession and meet
            hundreds of clients; made me realize that a large income doesn’t necessarily lead to a wealthy
            life. We have seen many people having their income in 6 and 7 digits not only failing to create
            positive net worth but struggling to manage basic expenses.
            Your income doesn’t guarantee you will have a big nest egg when you retire. You will have to
            save and invest throughout your career no matter how much you make. Yes, we cannot deny
            that there is higher probability to create healthy positive NETWORTH if your income is a large
            sum of money.
            Net worth is simply what you own minus what you owe. What you own is you’re Assets.
            What you owe is you’re Liabilities. And what remains is your NETWORTH.
          </p> -->
        </div>
        <p>
            One of my friend came telling me “Hey, I am gonna invest in ‘…NFO ‘.She was so convinced with one
            point that she will be investing in a mutual fund offer with the lowest NAV .”
        </p><p>
            Actually the problem is people generally compare NFO with IPO. When a company brings its IPO, it is
            already in existence and engaged in operations, and therefore it gives investors an idea of the
            fundamental strengths and its performance. It would be like shooting in the dark. You never know
            where the bullet will aim. However , there is no doubt that blind bet can be extremely successful, but
            the risk of failure is also extremely high.
          </p><p>
            But on the other side, in an NFO, investors have nothing to evaluate. Since the fund is new , it has no
            record which can be used to study its performance or growth. Even if the fund manager’s performance
            is known and he/she may be managing other schemes in the similar category, yet the scheme
            objective may be different &amp; so its performance.
          </p><p>
            NFO is generally misunderstood concept. A New Fund Offer (NFO) occurs when an investment company
            launches a new fund on a first-subscription basis for financing its purchase of securities. Generally AMCs
            come up with NFO’s when the markets are bullish &amp; the themes are re bundled products. In a NFO the
            opportunity to subscribe to the scheme is available only for a Limited period. The investors may
            subscribe to the NFO at given offer price which is generally fixed at Rs. 10.
          </p><p>
            Before investing one should look for Own Risk profile, Fund Objective, Theme of the Fund, Risk Factor,
            Cost of investment, Investment horizon, lock-in periods etc.
          </p><p>
            One of the important factor is Expense Ratio. Expense Ratios are on higher sides during an NFO and also
            in initial years as well. Does that mean initially the NFO investor’s money is used for all initial marketing
            and advertising? Well, I think investors should look at this.*/TER which is cost of investment to investor
            and not for low NAVs .If this expense ratio is same for existing schemes with consistent return record
            then investing in a new and with no past track record scheme will not make sense.
          </p><p>
            Think before investing in NFO if it really has positive space in your portfolio.
        </p>
        <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
        <!-- <a
          href="#"
          data-videoid="UYJ5IjBRlW8"
          data-videosite="youtube"
          class="button video link-lightbox"
        >
          WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
        </a> -->
      </div>
      <!--End Content Right Side-->
  
      <!-- <div class="col-3">
        <img src="../assets/images/user-images/plan.jpeg" alt="Dancer" />
      </div> -->
    </div>
  </div>
  <!--End of Content Section-->
  