<!--Content Section-->
<div id="services" class="scrollto clearfix">
    <div class="row no-padding-bottom clearfix">
        <div class="col-1">
            <img src="../assets/images/user-images/goal.jpeg" style="width: 1200px;" alt="Goal" />
          </div>
      <!--Content Left Side-->
      <!-- <div class="col-3">
        <blockquote class="testimonial text-right bigtest">
          <q
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua</q
          >
          <footer>— John Doe, Happy Customer</footer>
        </blockquote>
      </div> -->
      <!--End Content Left Side-->
  
      <!--Content of the Right Side-->
      <div class="col-1">
        <div class="section-heading">
          <h3>GOAL</h3>
          <h2 class="section-title">Are you Investing without a Financial Goal?</h2>
          <!-- <p class="section-subtitle">
            NETWORTH is a very common term used when it comes to Personal Finance.
            During my college days I used to think that those who earn higher income are the only ones
            who can live a rich and luxurious life. But in few years after I got into this profession and meet
            hundreds of clients; made me realize that a large income doesn’t necessarily lead to a wealthy
            life. We have seen many people having their income in 6 and 7 digits not only failing to create
            positive net worth but struggling to manage basic expenses.
            Your income doesn’t guarantee you will have a big nest egg when you retire. You will have to
            save and invest throughout your career no matter how much you make. Yes, we cannot deny
            that there is higher probability to create healthy positive NETWORTH if your income is a large
            sum of money.
            Net worth is simply what you own minus what you owe. What you own is you’re Assets.
            What you owe is you’re Liabilities. And what remains is your NETWORTH.
          </p> -->
        </div>
        <p>This is a short &amp; crisp dialogue from a “Book Alice In Wonderland” -
          </p>
          <p>
            “Would you tell me, please, which way I ought to go from here? “Alice asked the Cheshire cat.</p>
            <p>
            “That depends a good deal on where you want to get to,” said the cat. “I don’t much care where-
            “said Alice. Then it doesn’t matter which way you go”, said the cat. “…so long as I get
            SOMEWHERE”, Alice added as an explanation. “OH, you are sure to do that, “said the Cat, “IF
            YOU ONLY WALK LONG ENOUGH” If you don’t know where you are going any road will take
            you there.
          </p>
          <p>
            Financial Planning helps you to build your road maps towards your destination. The first step of
            financial planning is to DEFINE SMART GOALS. Else it doesn’t matter where you invest or how
            much you earn…
        </p>
        <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
        <!-- <a
          href="#"
          data-videoid="UYJ5IjBRlW8"
          data-videosite="youtube"
          class="button video link-lightbox"
        >
          WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
        </a> -->
      </div>
      <!--End Content Right Side-->
  
      <!-- <div class="col-3">
        <img src="../assets/images/user-images/plan.jpeg" alt="Dancer" />
      </div> -->
    </div>
  </div>
  <!--End of Content Section-->
  